build/
devel/
logs/
log/

*.pyc
__pycache__/

.catkin_tools/
.ros/

.DS_Store
Thumbs.db

.vscode/
.idea/

src/gazebo_ros_pkgs/
src/teleop_twist_keyboard/
src/turtlebot3/
src/turtlebot3_msgs/
src/turtlebot3_simulations/
