<!-- -*- mode: XML -*- -->
<launch>

    <node pkg="astar" type="astar" name="astar" output="screen">
        <param name="AllowDiagonal" value="true"/>
        <param name="UseChebyshev" value="true"/>
        <param name="OccupyThresh" value="50"/>
        <param name="InflateRadius" value="0.15"/>
        <param name="UseSoftInflationCost" value="true"/>
        <param name="SoftInflationPenalty" value="200"/>
        <param name="SoftInflationBandCells" value="1"/>
        <param name="UseClearanceCost" value="true"/>
        <param name="ClearanceCostRadiusCells" value="4"/>
        <param name="ClearanceCostWeight" value="20"/>
        <param name="UseInflationPotentialCost" value="true"/>
        <param name="InflationPotentialRadius" value="1.0"/>
        <param name="InflationPotentialScalingFactor" value="3.0"/>
        <param name="InflationPotentialWeight" value="140"/>
        <param name="UseCornerSmoothing" value="false"/>
        <param name="CornerSmoothingCells" value="2"/>
        <param name="UseTurnClearancePenalty" value="false"/>
        <param name="TurnClearanceRadiusCells" value="6"/>
        <param name="TurnClearanceWeight" value="40"/>
        <param name="UseDeferredTurnPenalty" value="false"/>
        <param name="DeferredTurnLookaheadCells" value="6"/>
        <param name="DeferredTurnWeight" value="6"/>
        <param name="UseThetaStar" value="true"/>
        <param name="ThetaHardMarginCells" value="2"/>
        <param name="ThetaLineCheckRadiusCells" value="2"/>
        <param name="ThetaMinTraversability" value="150"/>
        <param name="rate" value="10"/>
    </node>

</launch>
